.pool-item {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &.is-line{
        min-height: unset;
        .open-soon{
            top: unset;
            bottom: 12px;
            right: 0px;
        }
    }
}

.toggle-btn{
    margin-left: 12px;
}

.open-soon{
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 16px;
}

.line-block {
    display: block;
    margin-bottom: 32px;
    width: 100%;
    min-height: 380px;
    .btns {
        margin-top: 20px;
        .btn {
            width: 80%;
            padding: 8px 0;
            text-align: center;
        }
        &.single-btn{
            margin-top: 64px;
        }
    }
    .quick-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        .btn {
            width: 30px;
            height: 30px;
            margin: 0 4px;
            font-size: 16px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            justify-content: center;
        }
    }
    @media screen and (max-width: 992px){
        .btns{
            .btn{
                width: 50%;
            }
        }
    }
}
