.page-launchpad {
    color: #fff;
    padding: 0 0 64px;
    .rocket-card {
        padding: 24px;
        .launchpad-rocket {
            width: 40%;
        }
    }
    .hightlight {
        font-weight: 800;
    }
    .capsule-card {
        padding: 24px;
    }
    .will-get{
        color: #01041c;
        font-size: 14px;
        margin-bottom: 4px;
    }
    .amount-input-wrapper {
        background: transparent;
        border: 1px solid #fff;
        margin-bottom: 10px;
        border-radius: 12px;
        .max {
            color: #01041c;
            margin-right: 6px;
            margin-top: 2px;
        }
        .ant-input {
            background: transparent;
        }
        .ant-btn {
            width: 100%;
        }
    }
    .launchpad-logo {
        width: 50%;
        margin-top: -32px;
        margin-bottom: 150px;
    }
    .timer-icon {
        width: 20px;
        vertical-align: middle;
    }

    .capsule-timer {
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        background: #7416b2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 8px 32px;
    }
    .stake-ica {
        text-align: center;
        background: #d6d8dc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 24px 32px;
        flex-direction: row;
        // height: 220px;
        justify-content: space-between;
        .ant-btn {
            width: 100%;
        }
        .ica-icon {
            width: 44px;
            margin-bottom: 12px;
        }
        .title {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 12px;
            text-transform: none;
            color: #01041c;
            .lower {
                font-size: 20px;
                margin-right: 2px;
                line-height: 32px;
            }
        }
    }
    .block-switch {
        color: #44484f;
        background: #fff;
        & > .active {
            color: #fff;
            background: #7416b2;
        }
    }
    .table-box {
        height: 350px;
        .capsule-card {
            height: 100%;
        }
        .action-area {
            position: absolute;
            bottom: 370px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            left: 0;
        }
    }
    @media (max-width: 992px) {
        .launchpad-logo {
            width: 80%;
            display: block;
            margin: 0 auto 120px;
        }
        .table-box {
            height: unset;

            .action-area {
                margin: 24px auto;
                align-items: center;
                position: relative;
                bottom: 0;
                flex-direction: column;
                flex-flow: column-reverse;
                .capsule-timer {
                    margin-top: 24px;
                }
            }
        }
    }
}
