.page-profile {
    width: 80%;
    margin: 0 auto;
    .profile-img {
        width: 100%;
    }
    .show-more-btn {
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 18px;
    }
    .page-nav {
        position: fixed;
        top: 130px;
        left: 16px;
        .icon {
            width: 16px;
            margin-right: 4px;
        }
        .page-navigation {
            list-style: none;
            li {
                cursor: pointer;
                color: #ffffff;
                text-align: center;
                margin-bottom: 10px;
                border: 1px solid #ffffff;
                border-radius: 50px;
                font-size: 20px;
                line-height: 29px;
                padding: 8px 24px;
                a {
                    display: block;
                    color: #fff;
                }
            }
        }
        .outer-navigation {
            li {
                cursor: pointer;
                list-style: none;
                color: #ffffff;
                text-align: center;
                margin-bottom: 10px;
                background: #52127f;
                border-radius: 50px;
                font-size: 24px;
                line-height: 29px;
                padding: 8px 32px;
                a {
                    display: block;
                    color: #fff;
                }
            }
        }
    }
    .section-title {
        display: block;
        margin: 0 auto;
    }
    .nft-collection-section {
        padding-top: 44px;
        margin-bottom: 160px;
        .section-title {
            margin-bottom: 88px;
            width: 440px;
        }
    }
    .capsule-section {
        margin-bottom: 200px;
        padding-top: 44px;

        .section-title {
            margin-bottom: 100px;
            width: 300px;
        }
    }
    .items-section {
        padding-top: 44px;
        margin-bottom: 180px;
        .section-title {
            margin-bottom: 64px;
            width: 240px;
        }
    }
    .upgrades-section {
        padding-top: 44px;
        margin-bottom: 160px;
        .section-title {
            margin-bottom: 92px;
            width: 350px;
        }
        .btn-open {
            margin: 44px auto;
            width: 195px;
            font-size: 20px;
            height: 40px;
            display: block;
        }
    }
    .team-section {
        .section-title {
            margin-bottom: 32px;
            width: 240px;
        }
        .section-subtitle {
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 88px;
            color: #ffffff;
        }
        .team-item {
            text-align: center;
            margin-bottom: 24px;
            .avatar {
                background: #c4c4c4;
                box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
                border-radius: 10px;
                height: 260px;
                margin-bottom: 24px;
            }
            .name {
                font-size: 26px;
                line-height: 31px;
                color: #ffffff;
            }
        }
    }
    .storage-section {
        padding-top: 44px;

        .section-title {
            margin-bottom: 44px;
            width: 300px;
        }
        .filter-zone {
            padding-bottom: 32px;
            color: #fff;
            box-shadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.25);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .filter-right {
                display: flex;
                margin-bottom: 32px;
            }
            .check-block {
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                .check-block-title {
                    font-size: 18px;
                    margin-right: 4px;
                }
            }
            .search-block {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                .search-title {
                    font-size: 26px;
                    line-height: 1;
                    margin-right: 8px;
                }
                .search-input {
                    background: #ffffff;
                    border-radius: 45px;
                    border: none;
                    width: 200px;
                    outline: none;
                }
            }
        }
    }
    .bottom-area {
        padding-bottom: 200px;
    }
    @media (max-width: 1200px) {
        .bottom-area {
            .team-list {
                margin-bottom: 92px;
            }
        }
        .storage-section {
            .filter-zone {
                .search-block {
                    .search-input {
                        width: 120px;
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        width: 78%;
        .section-title {
            width: 200px !important;
            margin-bottom: 44px !important;
        }
        .page-nav {
            left: 8px;
            .icon {
                width: 12px;
            }
            .page-navigation {
                li {
                    font-size: 14px;
                    padding: 8px 12px;
                }
            }
        }
        .nft-collection-section {
            margin-bottom: 92px;
        }
        .capsule-section {
            margin-bottom: 92px;
            .rocket-card {
                margin-top: 160px;
            }
        }
    }
    @media (max-width: 768px) {
        width: 90%;
        .page-nav {
            display: none;
        }
    }
}
