.staked-block {
    display: flex;
    align-items: center;
  
    // justify-content: space-between;
    .purple &{
        .token-circle{
            border: 1px solid #fff;
            .value{
                color: #fff;
            }
        }
        .quick-btns{
            .btn{
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
    .title {
        font-size: 20px;
        line-height: 24px;
        color: #9088a1 !important;
        font-family: "bebas";
        margin-right: 20px;
        margin-bottom: 0 !important;
    }
    .token-circle {
        border: 1px solid #7416b2;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        .tokens {
            position: relative;
            padding-right: 8px;
            border-right: 0.5px solid #d6d8dc;
            margin-right: 6px !important;
            .token-item {
                width: 18px;
                height: 18px;
                &:nth-child(2) {
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    right: 4px;
                    bottom: -6px;
                }
            }
        }
        .value {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
        .deposited {
            font-size: 12px;
            line-height: 1;
            color: #9088a1;
        }
    }
    .quick-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 12px;
        margin-left: 8px;
        &>div{
            &:nth-child(2){
                margin-left: 4px;
            }
        }
        .btn {
            border: 1px solid #7416b2;
            box-sizing: border-box;
            border-radius: 4px;
            font-weight: bold;
            font-size: 22px;
            // line-height: 31px;
            color: #7416b2;
            background: none;

            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .action-hint {
            // font-weight: bold;
            // font-family: 'Source Sans Serif';
            text-transform: initial;
            font-size: 8px;
            line-height: 10px;
            text-align: center;
            color: #9088a1;
        }
    }
}
