.network-modal {
    font-family: "bebas";
    .ant-modal-content {
        border-radius: 20px;
        overflow: hidden;
    }
    .ant-modal-body {
        font-size: 18px;
        line-height: 22px;
        color: #4f4e4e;
        background: #cbced3;
    }
    .btn {
        margin-top: 12px;
    }
}
