.farm-item {
    color: #353659;
    margin-bottom: 32px;
    border: 2px solid #7416b2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    padding: 24px 56px 24px 24px;
    .main-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            margin-right: 24px;
            min-width: 320px;
            .lp-info {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                .token-pair {
                    margin-right: 24px;
                    position: relative;
                    .token0 {
                        width: 64px;
                    }
                    .token1 {
                        width: 40px;
                        position: absolute;
                        right: -10px;
                        bottom: -10px;
                    }
                }
                .lp-name {
                    font-size: 44px;
                    line-height: 1;
                    font-family: "bebas";
                    margin-bottom: 4px;
                }
                .uses {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .buttons {
                text-align: center;
                .ant-btn {
                    border-radius: 9px;
                    font-weight: 400;
                    margin: 0 2px;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            .arrow-down {
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -32px;
                width: 22px;
                margin: auto;
                transition: transform 0.3s;
                &.reverse {
                    transform: rotate(180deg);
                }
            }
            // .user-boxes {
            //     margin-right: 12px;
            //     display: flex;
            // }
        }
    }
    .action-area {
        color: #9088a1;
        border-top: 1px solid #9088a1;
        padding-top: 24px;
        margin-top: 24px;
        font-size: 14px;
        .strong-title {
            font-weight: 800;
        }
        .reward-table {
            .reward-head {
                display: grid;
                grid-template-columns: 1fr 1.3fr 1fr;
                margin-bottom: 16px;
            }
            .reward-row {
                display: grid;
                grid-template-columns: 1fr 1.3fr 1fr;
            }
        }

        .input-zone {
            .ant-input {
                border: 1px solid #d6d8dc !important;
                border-radius: 9px;
                margin: 12px auto 8px;
            }
            .ant-slider {
                margin-bottom: 40px;
                .ant-slider-handle {
                    background: #7416b2;
                    border: solid 2px #7416b2;
                }
                .ant-slider-track {
                    background: #7416b2;
                }
                .ant-slider-dot-active {
                    border-color: #7416b2;
                }
                .ant-slider-mark-text {
                    color: #9088a1;
                    font-size: 12px;
                }
            }
            .buttons-area {
                .ant-btn {
                    border-radius: 5px;
                    margin-right: 6px;
                }
            }
        }
        .claim-area{
            padding-left: 16px;
        }
        .btn-claim{
            margin: 16px 0 28px;
        }
        .breakdown{
            margin-top: 32px;
            .info-circle{
                font-size: 12px;
                margin-left: 2px;
                vertical-align: top;
            }
        }
    }
}