@import "~antd/dist/antd.css";

@font-face {
    font-family: "bebas";
    font-weight: 400;
    src: url("./assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "sonny";
    font-weight: 400;
    src: url("./assets/fonts/SonnyCond-UltraBlack.ttf");
}

// #root {
//     background: url("./assets/app-bg.png") no-repeat center center;
//     background-size: cover 100%;
// }

.App {
    display: flex;
    font-family: "bebas";
    min-height: 100vh;
    // color: #4f4e4e;
    color: #01041c;
    background: #cbced3;
    &.app-star-cluster {
        color: #fff;
        background: #2c2e32;
        .theme-switch {
            display: none;
        }
        .app-sidebar {
            background: #44484f;
            .nav-link {
                .nav-text {
                    color: #fff;
                }
            }
        }
        .icon,
        .social-icon,
        .home-icon,
        .mode-icon {
            filter: brightness(0) invert(1);
        }
        .btn-trans {
            color: #fff;
            border: 1px solid #ffffff;
        }
        .app-header {
            // background: #3c4048;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .btn {
                color: #9248a2;
                background: #fff;
            }
        }
        .app-footer {
            a {
                color: #ccc;
            }
            .year {
                color: #ccc;
            }
        }
    }
}

.main-content {
    width: 100%;
    height: 100vh;
    padding: 30px 60px;
    overflow-y: auto;
}

.question-icon {
    font-size: 14px;
    margin-left: 2px;
}

@keyframes focusTrans {
    0% {
        box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.75);
    }
    25% {
        box-shadow: 0px 0px 5px 1px rgba(0, 255, 224, 0.75);
    }
    50% {
        box-shadow: 0px 0px 5px 1px rgba(0, 102, 255, 0.75);
    }
    75% {
        box-shadow: 0px 0px 5px 1px rgba(143, 0, 255, 0.75);
    }
    100% {
        box-shadow: 0px 0px 5px 1px rgba(255, 0, 214, 0.75);
    }
}

.block {
    background: rgba(249, 249, 249, 0.25);
    padding: 24px 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 7px 7px 5px;
    &.focus {
        box-shadow: unset;
        animation-name: focusTrans;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }
    .btn {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}

// .App::after {
//     position: absolute;
//     width: 0;
//     height: 0;
//     overflow: hidden;
//     z-index: -1; // hide images
//     content: url("./assets/bg-1.png") url("./assets/bg-2.png") url("./assets/bg-3.png"); // load images
// }

// .bg1 {
//     background-image: url("./assets/bg-1.png");
// }

// .bg2 {
//     background-image: url("./assets/bg-2.png");
// }

// .bg3 {
//     background-image: url("./assets/bg-3.png");
// }

.page-logo {
    margin: 32px auto 12px;
    width: 64px;
    height: 64px;
}

.page-title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}

.nowrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wrapper {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 48px;
    @media screen and (max-width: 768px) {
        padding: 0 24px;
    }
    @media screen and (min-width: 1600px) {
        padding: 0 160px;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "bebas", -apple-system, BlinkMacSystemFont, "PingFang SC", "Myriad Pro", "Hiragino Sans GB",
        "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.btn-trans {
    color: #4f4e4e;
    background: transparent;
    border: 1px solid rgba(1, 4, 28, 0.75);
    box-sizing: border-box;
    border-radius: 5px;
    &:hover,
    &:focus {
        color: #4f4e4e;
        border: 1px solid rgba(1, 4, 28, 0.75);
        background: transparent;
    }
}

.btn {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border: none;
    border-radius: 60px;
    background: rgba(1, 4, 28, 0.75);
    &:hover,
    &:focus {
        color: #fff;
        background: rgba(1, 4, 28, 0.8);
    }
}

.btn-yellow {
    font-size: 14px;
    line-height: 16px;
    color: #192742;
    border: none;
    border-radius: 60px;
    background: #f6e526;
    &:hover,
    &:focus {
        color: #1d2e4c;
        background: #f6e526;
    }
}

.grey {
    color: #888;
}

.btn-connect {
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #f6e526;
    &:hover,
    &:focus {
        color: #fff;
        background: #f6e526;
    }
}

.info-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.multiple .ant-btn.btn-yellow {
        width: 40%;
    }
    &.single {
        justify-content: flex-end;
    }
    .hint {
        font-size: 14px;
    }
}

.ant-input {
    border: none !important;
}

.input-box {
    position: absolute;
    border: 1px solid rgba(21, 22, 61, 0.3);
    border-radius: 15px;
    .ant-input {
        border: none;
    }
    .suffix {
        position: absolute;
        right: 4px;
        .max-btn {
            font-size: 18px;
            cursor: pointer;
            border: 1px solid rgba(21, 22, 61, 0.3);
            border-radius: 10px;
        }
        .unit {
            font-size: 24px;
        }
    }
}

img {
    max-width: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .content-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .content-container {
        width: 95%;
    }
}

.hint-block {
    color: #15163d;
    font-size: 14px;
    line-height: 27px;
    background: rgba(72, 204, 204, 0.3);
    padding: 12px;
    border-radius: 10px;
    &.small {
        font-size: 14px;
        line-height: 25px;
        padding: 12px 44px 12px 8px;
    }
}

.form-item {
    input,
    textarea {
        border-radius: 6px;
    }
}

.withdraw-area {
    margin-top: 92px;
    .btn-yellow {
        padding: 0 52px;
    }
    .hint {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.pool-item {
    border-radius: 24px;
    .tokens {
        margin-right: 16px;
    }
    .apy {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .apr {
        border-bottom: 0.5px solid #5f6060;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
    &.line-block {
        .apr {
            border: none;
        }
    }
    .info-line.top-line {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .top-line-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .deposit-by {
        font-size: 22px;
        line-height: 26px;
        a {
            color: #4f4e4e;
        }
    }
    .tvl {
        font-size: 16px;
        display: block;
    }
    .info-line {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 6px;
    }
    .token-item-link {
        &:nth-child(2) {
            margin-left: -12px;
        }
    }
    .token-item {
        // margin-right: 8px;
        width: 36px;
        height: 36px;
        &:nth-child(2) {
            margin-left: -12px;
        }
    }
    .num {
        color: #fff;
        font-size: 24px;
        line-height: 28px;
        margin: 16px auto 0;
    }
    .desc {
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.8);
        margin: 16px auto 24px;
    }
    // .tvl {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     font-size: 14px;
    //     line-height: 16px;
    //     color: #ffffff;
    //     padding: 6px 0;
    // }
    .btn-yellow {
        display: block;
        width: 100%;
        padding: 8px 0;
        font-size: 16px;
    }
}

.ant-picker,
.ant-input-number,
.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #839cdc;
    &:hover,
    &:focus {
        border: 1px solid #839cdc;
        outline: none;
        box-shadow: unset;
    }
}

.text-center {
    text-align: center;
}

// .green-dot {
//     width: 5px;
//     height: 5px;
//     padding: 0;
//     background: #289747;
//     border-radius: 100%;
//     border: 6px solid rgba(40, 151, 71, 0.5);
//     display: inline-block;
//     margin-right: 12px;
// }

.green-dot {
    width: 5px;
    height: 5px;
    padding: 0;
    background: #289747;
    border-radius: 100%;
    border: 4px solid rgb(148, 196, 114);
    border-radius: 100%;
    display: inline-block;
    margin-right: 12px;
    box-sizing: content-box;
}

.icon {
    cursor: pointer;
}

.red-dot {
    width: 5px;
    height: 5px;
    background: #ba0000;
    border-radius: 100%;
    border: 4px solid rgb(220, 128, 128);
    display: inline-block;
    margin-right: 12px;
    box-sizing: content-box;
}

.block-switch {
    font-size: 18px;
    line-height: 22px;
    // color: #000000;
    display: flex;
    align-items: center;
    background: #d6d8dc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    & > div {
        padding: 13px 16px;
        cursor: pointer;
    }
    & > .active {
        color: #ffffff;
        background: #34374a;
        border-radius: 20px;
    }
}

.option-switch {
    &.ant-switch-checked {
        background: #34c759;
    }
}

.App.purple {
    color: #fff;
    background: linear-gradient(to bottom, #720a84, #5c0f81, #51127f);
    a {
        color: #fff !important;
    }
    .app-sidebar {
        background: rgba(116, 22, 178, 0.9);
        .nav-link {
            &:hover {
                .block {
                    background: #34374a !important;
                }
            }
            .nav-text {
                color: #fff;
            }
        }
    }
    // .btn {
    //     background: linear-gradient(to bottom, #720a84, #5c0f81, #51127f);
    // }
    .block {
        background: rgba(255, 255, 255, 0.25);
        &.focus {
            box-shadow: 0px 0px 5px 1px #ffd3ee;
            animation: none;
        }
        // background: linear-gradient(
        //     to bottom,
        //     rgba(81, 18, 127, 0.25),
        //     rgba(92, 15, 129, 0.25),
        //     rgba(81, 18, 127, 0.25)
        // );
    }
    .block-switch {
        background: rgba(255, 255, 255, 0.25);
    }
    .icon,
    .social-icon {
        filter: brightness(0) invert(1);
        //   filter: sepia(51%) saturate(2878%) brightness(104%);
    }
    .pool-item {
        // .apr{
        //     border-bottom: 0.5px solid #fff;
        // }
        &.line-block {
            border-bottom: 0.5px solid #fff;
        }
    }
    .bar {
        background: #864495;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .highlight {
            color: #fff;
        }
    }
    .grey {
        color: #ccc;
    }
    .app-footer {
        background: rgba(249, 249, 249, 0.24);
    }

    .btn-trans {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

@media screen and (max-width: 1200px) {
    .block {
        padding: 16px 20px;
    }
    .pool-item {
        .token-item {
            width: 26px;
            height: 26px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main-content {
        padding: 0 24px 16px;
    }
}

.hidden {
    display: none !important;
}
