.token-select-modal {
    // .ant-modal-header,
    // .ant-modal-close {
    //     display: none;
    // }
    &.purple {
        .title {
            color: #ffffff;
        }
        .ant-modal-content {
            background: #292929;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        .token-list{
            .token-item{
                .token-symbol{
                    color: #fff;
                }
            }
        }
        .balance{
            color: #fff;
        }
    }
    .balance{

    }
    .ant-modal-content {
        border-radius: 12px;
    }
    .title {
        margin: 16px auto;
        font-family: "bebas";
        font-size: 30px;
        line-height: 36px;
        color: #272626;
    }
    .modal-close-icon {
        width: 26px;
        height: 26px;
    }
    .search-input {
        border: 1px solid #d6d8dc !important;
        box-sizing: border-box;
        border-radius: 9px;

        font-weight: bold;
        font-size: 15px;
        line-height: 19px;

        color: #000;

        padding: 12px 16px;
        margin-bottom: 20px;
        &::placeholder {
            color: #9d96ac;
        }
    }
    .token-name {
        font-size: 12px;
        line-height: 16px;
        color: #15163d;
        padding: 6px 0;
        border-bottom: 1px solid #000;
    }
    .risk-hint {
        text-align: center;
        font-family: "Source Sans Pro";
        margin-top: 32px;
        .title {
            font-weight: 800;
            font-family: "Source Sans Pro";
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: #9d96ac;
            margin-bottom: 24px;
        }
        .desc {
            margin-bottom: 44px;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #9d96ac;
        }
        .hint-check {
            display: block;
            margin-bottom: 44px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #9d96ac;
        }
    }
    .token-list {
        height: 250px;
        overflow-y: scroll;
        .loading-icon {
            font-size: 24px;
            margin: 16px auto;
        }
        .token-item {
            padding: 16px 10px;
            border-radius: 9px;
            transition: background 0.3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border-bottom: 1px solid rgba(144, 136, 161, 0.1);
            cursor: pointer;
            &.hidden {
                display: none;
            }
            &:hover:not(.searched-token) {
                background: #7416b2;
                .token-symbol {
                    color: #fff;
                }
                .balance{
                    color: #fff;
                }
            }
            .token-logo {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
            .token-symbol {
                font-size: 14px;
                line-height: 18px;
                font-weight: 800;
                color: #272626;
            }
        }
    }
}
